.button {
  position: relative;
  z-index: 1;
  width: calc(25vw - 2rem);
  max-width: calc(20vh - 5rem);
  min-width: 0px;
  border: 0;
  border-radius: 50%;
  height: auto;
  aspect-ratio: 1/1;
  background-color: transparent;
  font-size: 1.5rem;
  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 125%;
    width: 125%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.5s ease-out;
    border-radius: 50%;
  }
  &-special {
    color: #25b5af;
    &::after {
      background: #25b5af;
    }
  }
  &-count {
    color: #e49b0f;
    &::after {
      background: #e49b0f;
    }
  }
  &-normal {
    color: #f1f2f3;
    &::after {
      background: #f1f2f3;
    }
  }
  &-equals {
    color: #fff;
    background-color: #e49b0f;
    grid-column: 3 / 5;
    width: calc((25vw - 2rem) * 2);
    max-width: calc((20vh - 5rem) * 2);
    aspect-ratio: 2/1;
    border-radius: 10px;
    overflow: hidden;
    &::after {
      background: #f1f2f3;
      border-radius: 10px;
    }
  }
  &:active:after {
    height: 0;
    width: 0;
    opacity: 0.25;
    transition: 0s;
  }
}
