* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

h1 {
  margin: 0;
  color: #eee;
  font-size: 2rem;
  padding-bottom: 2rem;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.app {
  width: 100vw;
  max-width: 100%; /* added */
  height: calc(100vh - 4rem);
  position: relative;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: radial-gradient(farthest-corner circle at 85% 100%, rgba(#140346, 1) 0%, rgba(#020124, 0.5) 50%, transparent),
      radial-gradient(farthest-corner circle at 50% 100%, rgba(#140346, 1) 0%, rgba(#020124, 1) 46%, transparent),
      radial-gradient(farthest-corner circle at 0px 0px, rgba(#140346, 1) 0%, rgba(#020124, 1) 50%, #020124);
  }
}

.background {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 110vw;
    height: 100vh;
    top: 0px;
    left: calc((100% - 105vw) / 2);
    z-index: 0;
    background-color: rgba(#aaa, 0.15);
    filter: blur(5px);
  }
  &::before {
    content: "";
    position: absolute;
    width: 110vw;
    height: 3px;
    top: 5px;
    left: calc((100% - 105vw) / 2);
    background-color: rgba(#aaa, 0.3);
  }
}

.calculator {
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
}
